body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('http://www.bringthatbeat.com/images/equipment/lighting1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.newBody {
  background: url('https://lh4.googleusercontent.com/-Ndoci1krrk4/U2uiUAd0BSI/AAAAAAAANwY/e38FwljitsY/w800-h800/disco%2Bbiscuits.gif') no-repeat center center fixed;
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer {

}

.redCircle {
  background: url('http://rs1028.pbsrc.com/albums/y349/Calob_Swenson/KittensDancingDisco.gif~c200') no-repeat;
  position:absolute;
  height: 200px;
  width: 200px;
  z-index: 100;
}

.blueSquare {
 background: url('http://gifdanceparty.giphy.com/dancers/banana.gif') no-repeat;
  position:absolute;
  height: 500px;
  width: 500px;
}

.greenTriangle {
  background: url('http://www.shangralafamilyfun.com/gala-e/catmusic.gif') no-repeat;
  position:absolute;
  height: 300px;
  width: 300px;
}

.draggable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; dd
}

.greenTriangle: hover {
border:90px solid green;
  border-radius:90px;
  position:absolute;

}